<div class="section-heading">
  <%= @user.full_name %>
</div>
<div class="section-sub-heading">
  <div class="action-items-grid">
    <div class="action-item">
      <div class="action-item-icon">
      </div>
      <%=
        link_to 'Update',
        '#',
        class: 'action-item-text pretty-link'
      %>
    </div>
    <div class="action-item">
      <div class="action-item-icon">
      </div>
      <%=
        link_to 'Delete',
        '#',
        method: :delete,
        class: 'action-item-text pretty-link'
      %>
    </div>
  </div>
</div>
<div class="sub-section-title">
  <div class="sub-section-icon">
    <i class="fas fa-users"></i>
  </div>
  <div class="item-sub-heading-text">
    Roles
  </div>
</div>
<div class="section-sub-heading">
  <%= will_paginate @roles %>
</div>
<div class="grid-table">
  <div class="grid-table-header">
    <div class="grid-table-header-cell">
      <div class="grid-table-header-icon">
        <i class="fas fa-align-justify"></i>
      </div>
      <div class="grid-table-header-text">
        Role Name
      </div>
    </div>
    <div class="grid-table-header-cell">
      <div class="grid-table-header-icon">
        <i class="fas fa-list-ul"></i>
      </div>
      <div class="grid-table-header-text">
        Role Type
      </div>
    </div>
    <div class="grid-table-header-cell">
      <div class="grid-table-header-icon">
        <i class="fas fa-hand-holding-heart"></i>
      </div>
      <div class="grid-table-header-text">
        Ministry
      </div>
    </div>
  </div>
  <% @roles.each do |role| %>
    <div class="grid-table-data">
      <div class="grid-table-data-cell">
        <%=
          link_to role.name,
          role_path(role),
          class: 'grid-table-data-text pretty-link'
        %>
      </div>
      <div class="grid-table-data-cell">
        <div class="grid-table-data-text">
          <%= role.role_type %>
        </div>
      </div>
      <div class="grid-table-data-cell">
        <div class="grid-table-data-text">
          <%= role.ministry.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>


