<%= form_for @apprentice_relationship do |f| %>
  <% if @apprentice_relationship.errors.any? %>
    <div class="form-errors">
      This couldn't be completed because there are
      <%= pluralize(@apprentice_relationship.errors.count, 'errors') %>.
      Please update the form and try again.
    </div>
    <ul>
      <% @apprentice_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="inline-form">
    <div class="inline-form-label">
      <div class="inline-form-label-icon">
        <i class="far fa-user"></i>
      </div>
      <%=
        f.label :apprentice_id,
        'Apprentice',
        class: 'inline-form-label-text'
      %>
    </div>
    <%=
      f.collection_select :apprentice_id,
      @users,
      :id,
      :full_name,
      {},
      {class: 'inline-form-input'}
    %>
    <%= f.hidden_field :role_id, value: @role.id %>
    <%=
      f.submit @apprentice_relationship.new_record? ?
        'Add Apprentice' : 'Update Apprentice',
      class: 'form-submit-button'
    %>
  </div>
<% end %>
