<div class="breadcrumbs">
  <%=
    link_to 'Ministries',
    ministries_path
  %> /
  <%=
    link_to @ministry.name,
    '#'
  %>
</div>

<div class="section-heading">
  <%= @ministry.name %>
</div>
<div class="section-sub-heading">
  <div class="action-items-grid">
    <div class="action-item">
      <div class="action-item-icon">
      </div>
      <%=
        link_to 'Update',
        edit_ministry_path(@ministry),
        class: 'action-item-text pretty-link'
      %>
    </div>
    <div class="action-item">
      <div class="action-item-icon">
      </div>
      <%=
        link_to 'Delete',
        ministry_path(@ministry),
        method: :delete,
        class: 'action-item-text pretty-link'
      %>
    </div>
  </div>
</div>
<div class="sub-section-title">
  <div class="sub-section-icon">
    <i class="fas fa-chart-line"></i>
  </div>
  <div class="item-sub-heading-text">
    Statistics
  </div>
</div>
<div class="statistics">
  <div class="statistics-item">
    <div class="statistics-number">
      <%= @ministry.number_of_coaches %>
    </div>
    <div class="statistics-description">
      <%= 'Coach'.pluralize(@ministry.number_of_coaches) %>
    </div>
  </div>
  <div class="statistics-item">
    <div class="statistics-number">
      <%= @ministry.number_of_leaders %>
    </div>
    <div class="statistics-description">
      <%= 'Team Leader'.pluralize(@ministry.number_of_leaders) %>
    </div>
  </div>
  <div class="statistics-item">
    <div class="statistics-number">
      <%= @ministry.number_of_members %>
    </div>
    <div class="statistics-description">
      <%= 'Team Member'.pluralize(@ministry.number_of_members) %>
    </div>
  </div>
</div>
<div class="statistics">
  <div class="statistics-item">
    <div class="statistics-number">
      <%= @ministry.percent_having_apprentice('Coach') %>%
    </div>
    <div class="statistics-description">
      of coaches have an apprentice
    </div>
  </div>
  <div class="statistics-item">
    <div class="statistics-number">
      <%= @ministry.percent_having_apprentice('Team Leader') %>%
    </div>
    <div class="statistics-description">
      of team leaders have an apprentice
    </div>
  </div>
</div>
<div class="sub-section-title">
  <div class="sub-section-icon">
    <i class="fas fa-users"></i>
  </div>
  <div class="item-sub-heading-text">
    Roles
  </div>
</div>
<div class="section-sub-heading">
  <%= will_paginate @roles %>
</div>
<div class="grid-table">
  <div class="grid-table-header">
    <div class="grid-table-header-cell">
      <div class="grid-table-header-icon">
        <i class="fas fa-align-justify"></i>
      </div>
      <div class="grid-table-header-text">
        Role Name
      </div>
    </div>
    <div class="grid-table-header-cell">
      <div class="grid-table-header-icon">
        <i class="fas fa-list-ul"></i>
      </div>
      <div class="grid-table-header-text">
        Role Type
      </div>
    </div>
    <div class="grid-table-header-cell">
      <div class="grid-table-header-icon">
        <i class="far fa-user"></i>
      </div>
      <div class="grid-table-header-text">
        Team Member
      </div>
    </div>
    <div class="grid-table-header-cell">
      <div class="grid-table-header-icon">
        <i class="fas fa-hands-helping"></i>
      </div>
      <div class="grid-table-header-text">
        Apprentice
      </div>
    </div>
  </div>
  <% @roles.each do |role| %>
    <div class="grid-table-data">
      <div class="grid-table-data-cell">
        <%=
          link_to role.name,
          role_path(role),
          class: 'grid-table-data-text pretty-link'
        %>
      </div>
      <div class="grid-table-data-cell">
        <div class="grid-table-data-text">
          <%= role.role_type %>
        </div>
      </div>
      <div class="grid-table-data-cell">
        <div class="grid-table-data-text">
          <%= role.team_member.full_name %>
        </div>
      </div>
      <div class="grid-table-data-cell">
        <div class="grid-table-data-text">
          <% if role.apprentice_relationships.any? %>
            <% if role.apprentice_relationships.count == 1 %>
              <%= role.apprentice_relationships.first.apprentice.full_name %>
            <% else %>
              <%= role.apprentice_relationships.count %> apprentices
            <% end %>
          <% else %>
            None
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="grid-table-last-row">
    <div class="grid-table-last-row-icon">
      <i class="fas fa-plus"></i>
    </div>
    <%=
      link_to 'Add new role',
      new_role_path(:ministry => @ministry),
      class: 'grid-table-last-row-text pretty-link'
    %>
  </div>
</div>


