<h1><%= @ministry.name %></h1>
<p>
<%=
  link_to 'Update',
  edit_ministry_path(@ministry)
%>
</p>
<p>
<%=
  link_to 'Delete',
  ministry_path(@ministry),
  method: :delete,
  data: { confirm: "Are you sure?" }
%>
</p>
<p>
<%=
  link_to 'Add new role',
  new_role_path(:ministry => @ministry)
%>
<% if @ministry.roles.any? %>
  <h3>Roles</h3>
  <% @ministry.roles.each do |role| %>
    <p><%= role.name %></p>
  <% end %>
<% end %>
