<%= form_for @role do |f| %>
  <% if @role.errors.any? %>
    <div class="form-errors">
      This couldn't be completed because there are
      <%= pluralize(@role.errors.count, 'errors') %>.
      Please update the form and try again.
    </div>
    <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name, 'Role Name' %>
  <%= f.text_field :name %>

  <%= f.label :role_type, 'Role Type' %>
  <%=
    f.select :role_type,
    @role_types
  %>

  <%= f.label :team_member_id, 'Team Member' %>
  <%=
    f.collection_select :team_member_id,
    @users,
    :id,
    :full_name
  %>

  <%= f.hidden_field :ministry_id, value: @ministry.id %>

  <%= f.submit @role.new_record? ? 'Add Role' : 'Update Role' %>

<% end %>

