<%= form_for @role do |f| %>
  <% if @role.errors.any? %>
    <div class="form-errors">
      This couldn't be completed because there are
      <%= pluralize(@role.errors.count, 'errors') %>.
      Please update the form and try again.
    </div>
    <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="inline-form">
    <div class="inline-form-label">
      <div class="inline-form-label-icon">
        <i class="fas fa-align-justify"></i>
      </div>
      <%=
        f.label :name, 'Role Name',
        class: 'inline-form-label-text'
      %>
    </div>
    <%=
      f.text_field :name,
      class: 'inline-form-input'
    %>
    <div class="inline-form-label">
      <div class="inline-form-label-icon">
        <i class="fas fa-list-ul"></i>
      </div>
      <%=
        f.label :role_type,
        'Role Type',
        class: 'inline-form-label-text'
      %>
    </div>
    <%=
      f.select :role_type,
      @role_types,
      {},
      {class: 'inline-form-input'}
    %>
    <div class="inline-form-label">
      <div class="inline-form-label-icon">
        <i class="far fa-user"></i>
      </div>
      <%=
        f.label :team_member_id,
        'Team Member',
        class: 'inline-form-label-text'
      %>
    </div>
    <%=
      f.collection_select :team_member_id,
      @users,
      :id,
      :full_name,
      {},
      {class: 'inline-form-input'}
    %>

    <%= f.hidden_field :ministry_id, value: @ministry.id %>

    <%= f.submit @role.new_record? ? 'Add Role' : 'Update Role',
      class: 'form-submit-button'
    %>
  </div>

<% end %>

