<div class="section-heading">
  <%= @role.name %>
</div>
<div class="section-sub-heading">
  <div class="action-items-grid">
    <div class="action-item">
      <div class="action-item-icon">
      </div>
      <%=
        link_to 'Update',
        edit_role_path(@role),
        class: 'action-item-text pretty-link'
      %>
    </div>
    <div class="action-item">
      <div class="action-item-icon">
      </div>
      <%=
        link_to 'Delete',
        role_path(@role),
        method: :delete,
        class: 'action-item-text pretty-link'
      %>
    </div>
  </div>
</div>
<div class="sub-section-title">
  <div class="sub-section-icon">
    <i class="fas fa-list-ul"></i>
  </div>
  <div class="item-sub-heading-text">
    Details
  </div>
</div>
<div class="inline-form">
  <div class="inline-form-label">
    <div class="inline-form-label-icon">
      <i class="fas fa-list-ul"></i>
    </div>
    <div class="inline-form-label-text">
      Role Type
    </div>
  </div>
  <div class="inline-form-text">
    <%= @role.role_type %>
  </div>
  <div class="inline-form-label">
    <div class="inline-form-label-icon">
      <i class="far fa-user"></i>
    </div>
    <div class="inline-form-label-text">
      Team Member
    </div>
  </div>
  <div class="inline-form-text">
    <%= @role.team_member.full_name %>
  </div>
  <div class="inline-form-label">
    <div class="inline-form-label-icon">
      <i class="far fa-user"></i>
    </div>
    <div class="inline-form-label-text">
      <%= role_relationship_leading_role_type(@role.role_type) %>
    </div>
  </div>
  <div class="inline-form-text">
    <%= show_leading_role(@role) %>
  </div>
</div>
<div class="sub-section-title">
  <div class="sub-section-icon">
    <i class="fas fa-hands-helping"></i>
  </div>
  <div class="item-sub-heading-text">
    Apprentices
  </div>
</div>
<% if @role.apprentice_relationships.any? %>
  <div class="grid-table">
    <div class="grid-table-header">
      <div class="grid-table-header-cell">
        <div class="grid-table-header-icon">
          <i class="far fa-user"></i>
        </div>
        <div class="grid-table-header-text">
          Apprentice
        </div>
      </div>
      <div class="grid-table-header-cell">
        <div class="grid-table-header-icon">
          <i class="far fa-calendar-alt"></i>
        </div>
        <div class="grid-table-header-text">
          Apprenticeship Started
        </div>
      </div>
    </div>
    <% @role.apprentice_relationships.each do |app| %>
      <div class="grid-table-data">
        <div class="grid-table-data-cell">
          <%=
            link_to app.apprentice.full_name,
            user_path(app.apprentice),
            class: 'grid-table-data-text pretty-link'
          %>
        </div>
        <div class="grid-table-data-cell">
          <div class="grid-table-data-text">
            <%= app.created_at.strftime("%b %-d, %Y") %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="grid-table-last-row">
      <div class="grid-table-last-row-icon">
        <i class="fas fa-plus"></i>
      </div>
      <%=
        link_to 'Add new apprentice',
          new_apprentice_relationship_path(:role => @role),
          class: 'grid-table-last-row-text pretty-link'
        %>
    </div>
  </div>
<% else %>
  <div class="section-sub-heading">
    No Apprencies added.
    <%=
      link_to 'Add Apprentice',
      new_apprentice_relationship_path(:role => @role),
      class: 'pretty-link'
    %>
  </div>
<% end %>


<% if @role.role_type != 'Team Member' %>
  <div class="sub-section-title">
    <div class="sub-section-icon">
      <i class="fas fa-sitemap"></i>
    </div>
    <div class="item-sub-heading-text">
      <%= role_relationship_following_role_type(@role.role_type).pluralize(2) %>
    </div>
  </div>

  <div class="grid-table">
    <div class="grid-table-header">
      <div class="grid-table-header-cell">
        <div class="grid-table-header-icon">
          <i class="fas fa-align-justify"></i>
        </div>
        <div class="grid-table-header-text">
          Role Name
        </div>
      </div>
      <div class="grid-table-header-cell">
        <div class="grid-table-header-icon">
          <i class="fas fa-list-ul"></i>
        </div>
        <div class="grid-table-header-text">
          Role Type
        </div>
      </div>
      <div class="grid-table-header-cell">
        <div class="grid-table-header-icon">
          <i class="far fa-user"></i>
        </div>
        <div class="grid-table-header-text">
          Team Member
        </div>
      </div>
      <div class="grid-table-header-cell">
        <div class="grid-table-header-icon">
          <i class="fas fa-hands-helping"></i>
        </div>
        <div class="grid-table-header-text">
          Apprentice
        </div>
      </div>
    </div>
    <% @followers.each do |role| %>
      <div class="grid-table-data">
        <div class="grid-table-data-cell">
          <%=
            link_to role.name,
              role_path(role),
              class: 'grid-table-data-text pretty-link'
            %>
        </div>
        <div class="grid-table-data-cell">
          <div class="grid-table-data-text">
            <%= role.role_type %>
          </div>
        </div>
        <div class="grid-table-data-cell">
          <div class="grid-table-data-text">
            <%= role.team_member.full_name %>
          </div>
        </div>
        <div class="grid-table-data-cell">
          <div class="grid-table-data-text">
            <% if role.apprentice_relationships.any? %>
              <% if role.apprentice_relationships.count == 1 %>
                <%= role.apprentice_relationships.first.apprentice.full_name %>
              <% else %>
                <%= role.apprentice_relationships.count %> apprentices
              <% end %>
            <% else %>
              None
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="grid-table-last-row">
      <div class="grid-table-last-row-icon">
        <i class="fas fa-plus"></i>
      </div>
      <%=
        link_to 'Link a role',
          new_role_relationship_path(:leading_role => @role),
          class: 'grid-table-last-row-text pretty-link'
        %>
    </div>
  </div>

<% end %>
